#carrossel-container {
    width: 100%;
    overflow: hidden;
}

#carrossel {
    display: flex;
    justify-content: space-around;
    transition: transform 0.5s ease-in-out;
}

#carrossel img {
    width: calc(60% / 3); /* Exibir 3 imagens por vez */
    flex-shrink: 0;
}
