#favorite-conteiner {
    display: flex;
    flex-direction: column; /* Organiza os bairros verticalmente */
    width: 100%;
}

.bairro {
    display: flex;
    flex-direction: column; /* Imóveis aparecem em lista */
    font-size: 1.3rem;
    font-weight: 700;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border: 0.2rem solid;
    color: #000000;
    background-color: #8cd0c9;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}

.bairro-name {
    width: 100%;
    background-color: #629e9a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.imovel {
    display: flex;
    flex-direction: row; /* Organiza os imóveis horizontalmente dentro do bairro */
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border-bottom: 0.2rem solid #000000; /* Separação entre imóveis */
    gap: 10rem;
    
}

.imovel-description {
    font-size: 1.0rem;
    padding: 2rem;
    margin-left: 2rem;
    
}

img {
    height: 30vh;
    width: auto; /* Ajustando o tamanho da imagem */
    object-fit: cover;
    margin-right: 2rem;

}
